.address {
  line-height: $line-height-s;

  &--light {
    background-color: $basic-white;
  }
}

.address__text-content {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 56px 70px;
  }
}

.address__title {
  font-size: $font-size-m;
  line-height: $line-height-s;
  color: #111111;
  max-width: 50%;

  @media (min-width: $tablet-width) {
    max-width: 30%;
    font-size: $font-size-l;
    line-height: $line-height-l;
    margin-top: 3px;
  }
}

.address__address-text {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30%;
    margin-bottom: 7px;
  }
}

.address__text {
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.address__map {
  width: 100%;
  height: 362px;
}
