$button-width: 280px;
$button-height: 40px;

.button {
  @include size($button-width, $button-height);
  @include font-highlight($font-size-m, $line-height-s, $basic-white);
  text-transform: uppercase;
  display: block;
  background-color: $basic_green;
  border: none;
}
