.example {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
  }
}

.example__wrappers {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;

    padding: 70px 110px;
    background-color: #eaeaea;
  }
}


.example__wrapper {
  padding: 0 20px;
  padding-bottom: 287px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    padding-bottom: 250px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    max-width: 436px;
  }
}

.example__title {
  line-height: $line-height-xxxl;
  padding-top: 25px;
  padding-left: 20px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    line-height: 60px;
    margin-bottom: 63px;
    padding-top: 43px;
    padding-left: 30px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.example__number-info {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.example__cost-wrapper {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 109px;
  }
}

.example__cost {
  text-align: center;
  font-size: $font-size-s;
  line-height: $line-height-s;

  @media (min-width: $tablet-width) {
    font-size: $font-size-l;
    text-align: right;
    padding-left: 150px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-left: 0;
  }
}

$example-width: 0;
$example-width-2: $tablet-width - $example-width;

.example__image-wrapper {
  position: relative;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 370px;
    padding-bottom: 55px;
    background-color: #eaeaea;
  }
}

.example__image-inner {
  position: absolute;
  left: 50%;
  margin-left: -140px;
  bottom: 85px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    bottom: 120px;

    &:first-child .example__image-container {
      width: $example-width-2;
    }

    &:nth-child(2) .example__image-container {
      width: $example-width;
      transform: scaleX(-1);

      .example__image {
        transform: scaleX(-1);
      }
    }
  }
}

.example__image-container {
  @media (min-width: $tablet-width) {
    overflow: hidden;
    min-width: 0;
  }
}

.example__image {
  &:not(&--current) {
    display: none;
  }

  &--tablet {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }
}

.example__image-hidden {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}
