.main-navigation {
  position: absolute;
  top: 65px;
  z-index: 1;
  display: block;
  width: 100%;
  background-color: $basic-white;

  &--hidden {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    position: static;
    max-width: 440px;
  }

  @media (min-width: $desktop-width) {
    max-width: 480px;
    z-index: 2;
    background-color: transparent;
  }
}

.main-navigation__list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-navigation__item {
  position: relative;

  &--current {
    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        position: absolute;
        bottom: 10px;
        height: 2px;
        width: 100%;
        background-color: $basic-green;
      }
    }

    @media (min-width: $desktop-width) {
      &::after {
        background-color: $basic-white;
      }
    }
  }
}

.main-navigation__link {
  display: block;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid #e6e6e6;
  font-size: $font-size-l;
  line-height: $line-height-s;
  font-weight: 500;

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 18px;
    line-height: $line-height-m;
    font-weight: $font-weight-regular;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size-l;
    color: $basic-white;
  }
}
