.page {
  @include font($font-size-s, $line-height-xs);
}

.page__body {
  display: flex;
  flex-direction: column;
}

.page__title {
  @include font-highlight($font-size-xxl, $line-height-xl);
  margin: 0;

  &--white {
    color: $basic-white;
  }

  &--upper {
    text-transform: uppercase;
  }

  &--higher {
    line-height: $line-height-xxxl;
  }

  &--smaller {
    font-size: $font-size-xl;
    line-height: $line-height-l;
  }
}
