.programs__slogan {
  font-size: $font-size-s;
  line-height: $line-height-xxxs;
}

.programs__link {
  font-size: $font-size-m;
  line-height: $line-height-xxs;
}

.programs__item-title {
  font-size: $font-size-xl;
  line-height: $line-height-xxl;
}
