.programs {
  position: relative;
  width: 100%;
}

.programs__wrapper-headline {
  margin: 0 auto;
  max-width: 320px;
  min-height: 302px;
  background-repeat: no-repeat;
  background-color: $basic-green;
  background-image: $index-bg-mobile;

  &::after {
    content: "";
    position: absolute;
    top: 167px;
    right: 50%;
    margin-right: -140px;
    display: block;
    background-image: $index-can-mobile;

    @include size(280px, 270px);

    @media (min-width: $tablet-width) {
      top: 265px;
      left: 29px;

      @include size(709px, 609px);
      background-image: $index-can-tablet;
      z-index: -1;
    }

    @media (min-width: $desktop-width) {
      top: 32px;
      left: 575px;

      @include size(552px, 499px);
      background-image: $index-can-desktop;
      z-index: 2;
    }
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: transparent;
    max-width: 650px;
    margin: 0;
    margin-bottom: 629px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 250px;
  }
}

.programs__headline {
  width: 100%;
  min-height: 302px;
  box-sizing: border-box;
  padding: 27px 35px;
  padding-bottom: 0;
  margin-bottom: 178px;
  background-color: rgba(104, 183, 56, 0.85);
  text-align: center;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    min-height: 200px;
    text-align: left;
    padding: 62px 117px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -141px;
      right: 0;
      display: block;

      @include size(720px, 694px);
    }

    &::before {
      background-color: rgba(104, 183, 56, 0.85);
      z-index: 1;
    }

    &::after {
      background-image: $index-bg-desktop;
      background-color: $basic-green;
    }
  }
}

.programs__title {
  margin-bottom: 25px;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    color: $basic-black;
    margin-bottom: 41px;
  }
}

.programs__slogan {
  font-size: $font-size-s;
  line-height: $line-height-xxxs;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: $font-size-l;
    line-height: $line-height-s;
  }
}

.programs__button {
  position: absolute;
  left: 50%;
  margin-left: -140px;
  padding: 8px;
  top: 440px;

  @media (min-width: $tablet-width) {
    top: 294px;
    left: 120px;
    margin-left: 0;
    font-size: $font-size-l;
    padding: 14px;

    @include size(244px, 54px);
  }
}

.programs__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 110px;
    padding-top: 82px;
    padding-bottom: 71px;
  }
}

.programs__item {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: min-content;
  row-gap: 22px;
  column-gap: 19px;
  box-sizing: border-box;
  padding: 0 20px;
  padding-top: 24px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 200px;
    row-gap: 24px;
    column-gap: 50px;
    padding: 52px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 100px 314px;
    row-gap: 27px;
    column-gap: 62px;

    padding: 47px;
  }

  &:first-child {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}


.programs__image {
  display: inline-block;

  background-color: $basic-green;
  border-radius: 50%;

  @include size(50px, 50px,);

  @media (min-width: $tablet-width) {
    grid-row: 1 / 4;
    grid-column: 2 / 3;

    margin-top: 40px;
    margin-bottom: 28px;

    @include size(200px, 200px,);
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin: 0;

    @include size(100px, 100px,);
  }
}

.programs__item-title {
  margin-top: 6px;
  font-size: $font-size-xl;
  line-height: $line-height-xxl;

  @media (min-width: $tablet-width) {
    font-size: $font-size-xxl;
    line-height: $line-height-xl;

    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
  }
}

.programs__text {
  grid-column: 1 / -1;
  padding-right: 13px;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    margin-top: 0;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    margin-bottom: 0;
    margin-top: 12px;
  }
}

.programs__link {
  grid-column: 1 / -1;
  position: relative;
  margin-bottom: 18px;
  font-size: $font-size-m;
  line-height: $line-height-xxs;

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    display: block;
    background-color: #d9d9d9;

    @include size(100%, 1px);

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 3px;
    background-image: url("../../img/icons/arrow.svg");

    @include size(32px, 10px);
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    font-size: $font-size-l;
    line-height: $line-height-s;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    line-height: 30px;
    margin-bottom: 12px;
  }
}
