.range {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  width: 210px;

  @media (min-width: $tablet-width) {
    width: 590px;
  }
}

.range__wrapper {
  cursor: pointer;
  padding: 17px 0;
}

.range__line {
  position: relative;

  @include size(86px, 14px);
  box-sizing: border-box;

  background-color: $basic-white;
  border: 1px solid $special-grey;
  border-radius: 5.5px;

  @media (min-width: $tablet-width) {
    @include size(426px, 6px);
    background-color: #dcdcdc;
    border: none;
  }
}

.range__button {
  position: absolute;
  top: 50%;
  left: 4px;
  margin-top: -3px;

  cursor: pointer;

  @include size(36px, 6px);

  border: none;
  border-radius: 3px;
  background-color: $basic-green;
  padding: 0;

  &--right {
    left: 46px;
  }

  @media (min-width: $tablet-width) {
    left: 0;
    margin-top: -17px;

    @include size(34px, 34px);

    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    border: 1px solid $special-grey;
    background-color: $basic-white;

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      border: 1px solid $basic-green;
    }

    &::after {
      content: "";

      position: absolute;
      top: 14px;
      left: 50%;
      margin-left: -3px;
      display: block;

      @include size(6px, 6px);
      border-radius: 50%;
      background-color: $basic-green;
    }
  }
}

.range__text {
  font-size: $font-size-m;
  line-height: $line-height-s;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: $font-size-l;
    line-height: 30px;
    padding: 5px 0;
  }
}
