//Font sizes
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 36px;
//Line heights
$line-height-xxxxs: 12px;
$line-height-xxxs: 14px;
$line-height-xxs: 16px;
$line-height-xs: 18px;
$line-height-s: 20px;
$line-height-m: 24px;
$line-height-l: 26px;
$line-height-xl: 36px;
$line-height-xxl: 37px;
$line-height-xxxl: 40px;
//Font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
//Font families
$font-family-base: "Arial";
$font-family-highlight: "Oswald", sans-serif;
//Colors
$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$basic-grey: #f2f2f2;
$basic-white: #ffffff;
$basic-black: #000000;
$special-dark-grey: #444444;
$special-dark-grey-2: #222222;
$special-grey: #cdcdcd;
$special-grey-2: #666666;
$special_grey-3: #ebebeb;
$status-error: #ff8282;
//Images
$index-bg: url("../../img/decoration/index-background.jpg");
//Widths
$tablet-width: 768px;
$desktop-width: 1440px;

