//Text font
$font-family: "Arial";
$font-size: 14px;
$font-weight: 400;
$line-height: 18px;
$text-transform: none;
//Page-main__title font
$font-family-title: "Oswald", sans-serif;
$font-size-main-title: 36px;
$line-height-main-title: 36px;
//Title font
$line-height-title: 40px;
//Heading font
$font-size-heading: 24px;
$line-height-heading: 26px;
//Main-navigation link font
$font-size-main-link: 20px;
$font-weight-main-link: 500;
$line-height-main-link: 20px;
$text-transform-main-link: uppercase;
